<div class="page grid">
    <div class="vgrid" data-ng-cloak="true">
        <div class="colhdr grid form-control">
            <input type="text" class="gridflx srchbox" [(ngModel)]="xsdService.txtFilter" />
            <img src="/img/ic_search_black_24dp_1x.png" alt="srchicon">
        </div>
        <div class="accordion__tab" *ngFor="let c of xsdService.Configs">
            <div class="accordion__tab-title" (click)="xsdService.selectProject(c)" [ngClass]="{selected : xsdService.isProjSel(c['project'])}">{{c['project'] | uppercase}}</div>
            <div class="accordion__tab-content" *ngIf="xsdService.isOpenTab(c['project'])">
                <div class="menuCol">
                    <app-simpletypes></app-simpletypes>
                    <app-complextypes></app-complextypes>
                    <app-elements></app-elements>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>