<div *ngIf="elmnt">
  <div class="editBtns">
    <a *ngIf="!editel()" (click)="doedit()">Edit</a>
    <a *ngIf="editel()" (click)="submit()">Submit</a>
    <a *ngIf="editel()" (click)="cancel()" class="spc">Cancel</a>
  </div>
  <div class="nodevw">
    <b>{{elmnt.name}}</b>
    <div style="margin-left:30px;">
      <div>
        <i>xsdnode</i> = {{elmnt.xsdnode}}</div>
      <div>
        <i>name</i> = {{elmnt.name}}</div>
      <div *ngIf="elmnt.type" routerLinkActive="active">
        <i>type</i> =
        <a [routerLink]="['/xsd/complextype',elmnt.type]">{{elmnt.type}}</a>
      </div>
      <div *ngIf="!editel() && elmnt.appinfo.Element">
        <i>label</i> = {{elmnt.appinfo.Element.name}}</div>
      <div *ngIf="editel()">
        <i>label</i> =
        <input style="height:20px;width:555px;" [(ngModel)]="editLabel" type="text" value="{{editLabel}}" />
      </div>
      <div *ngIf="!editel()">
        <i>documentation</i> = {{elmnt.documentation}}</div>
      <div *ngIf="editel()">
        <i>documentation</i> =</div>
      <div *ngIf="editel()">
        <div contenteditable=true [textContent]="editDoc" (input)="editDoc=$event.target.textContent" class="docedit"></div>
      </div>
     
      <div *ngIf="editel()">
        <b>Comments:</b>
      </div>
      <div *ngIf="editel()">
        <div contenteditable=true [textContent]="editComment" (input)="editComment=$event.target.textContent" class="docedit"></div>
      </div>
      <!--
      <div>
        <pre style="max-height:300px; overflow-y:auto">{{ elmnt | json}}</pre>
      </div>
      -->
    </div>
  </div>
  <!-- <p>{{editel()}} -->
  <!-- <p>{{editLabel}} -->
  <!-- <p>{{editDoc}} -->
  <!-- <p>{{editVar}} -->
  <!-- <p>{{editComment}} -->
</div>