<div class="xsdview" style="overflow-x:auto; overflow-y:auto;">
  <div class="tab1">
    <div (click)="xsdService.openTab(rootel)">
      {{rootel}}
    </div>
    <div class="tab2" *ngFor="let n of rootList()">
      <div class="ptr" (click)="xsdService.openTab(n.ref)">
        <span class="treeicon" *ngIf="!xsdService.isOpenTab(n.ref) && hasChildren(n)"> + </span>
        <span class="treeicon" *ngIf="xsdService.isOpenTab(n.ref) && hasChildren(n)"> - </span>
        {{n.ref}}
      </div>
      <div *ngIf="xsdService.isOpenTab(n.ref)">
        <div class="tab3" *ngFor="let nn of childList(n)">
          <div class="ptr" (click)="xsdService.openTab(nn.ref)">
            <span class="treeicon" *ngIf="!xsdService.isOpenTab(nn.ref) && hasChildren(nn)"> + </span>
            <span class="treeicon" *ngIf="xsdService.isOpenTab(nn.ref) && hasChildren(nn)"> - </span>
            {{nn.ref}}
          </div>
          <div *ngIf="xsdService.isOpenTab(nn.ref)">
            <div class="tab4" *ngFor="let nnn of childList(nn)">
              <div class="ptr" (click)="xsdService.openTab(nnn.ref)">
                <span class="treeicon" *ngIf="!xsdService.isOpenTab(nnn.ref) && hasChildren(nnn)"> + </span>
                <span class="treeicon" *ngIf="xsdService.isOpenTab(nnn.ref) && hasChildren(nnn)"> - </span>
                {{nnn.ref}}
              </div>
              <div *ngIf="xsdService.isOpenTab(nnn.ref)">
                <div class="tab5" *ngFor="let nnnn of childList(nnn)" (click)="xsdService.openTab(nnnn.ref)">
                  <div>
                    {{nnnn.ref}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>