.xsdview{
    padding-left: 8px;
    color: black;
    padding: 4px;
    width: auto;
    max-width: 800px;
    flex: 1;
    max-height: 640px;
    overflow-y: auto;
}

.openicon{
    display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image:'../../img/ic_chevron_more_black_24dp_1x.png' no-repeat;
  width: 2px; /* Width of new image */
  height: 2px; /* Height of new image */
  padding-left: 2px; /* Equal to width of new image */
}

.ptr{
    cursor:pointer;
}

.treeicon{
    margin-left:-10px;
}

.tab1{
    margin-left:5px;
}
.tab2{
    margin-left:10px;
}
.tab3{
    margin-left:15px;
}
.tab4{
    margin-left:20px;
}
.tab5{
    margin-left:25px;
}
.tab5{
    margin-left:25px;
}