<div class="col-md-8 col-md-offset" style="width:100%; margin-top:10px;">
    <div style="width:100%; text-align:left; font-weight:bold; font-size:16px; text-align:left;">SPDX Licenses</div>
    <div id="scrolltable">
        <table class="table table-striped">
            <thead id="scrolltable">
                <tr class="ctrtxt">
                    <th>
                        <div style="width:100px;font-size:12px;position: absolute; margin-top: -30px;">License</div>
                    </th>
                    <th>
                        <div style="width:40px;font-size:12px;position: absolute; margin-top: -30px;">Valid</div>
                    </th>
                </tr>
            </thead>
            <tbody style="font-size:12px; max-height:600px; overflow: auto;">
                <tr *ngFor="let d of xsdService.toArray(xsdService.jsondata['licenses.json']['string[]'])">
                    <td style="width:100px;font-size:12px;">
                        <div>
                            <b>
                                <a [attr.href]="getRes(d.xmlLicenseURL)" target="_blank">{{fName(d.xmlLicenseURL)}}</a>
                            </b>
                        </div>
                        <div>Url: {{getRes(d.xmlLicenseURL)}}</div>
                        <div>Digest: {{d.digest}}</div>
                        <div *ngIf="d.message">Message: {{d.message}}</div>
                    </td>
                    <td style="width:40px;font-size:12px;color:green">
                        <div>
                            <b [ngClass]="{redtxt : d.valid !==true}">{{d.valid}}</b>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-8 col-md-offset" style="width:100%; min-width:300px; margin-top:10px;">
        <div style="float:right">
            <i>- - - - - - - - -</i>
        </div>
    </div>
</div>