.colhdr {
    top: 0px;
    max-width: 285px;
    border: solid blue thin
}

.ctr {
    text-align: center;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.page {
    min-width: 600px;
    max-width: 1020px;
    height: 99%;
    min-height: 600px;
    margin-bottom: 2px;
}
.vgrid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.gridflx {
    flex: 1;
}
.srchbox {
    max-height: 65px;
    cursor: pointer;
    border: thin solid black;
    border-radius: 2px;
    padding: 4px;
    box-shadow: 2px 2px 2px #888888;
    margin: 2px;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    background-color: white;
}
.menuCol {
    max-width: 285px;
    top: 30px;
    border: thin solid blue;
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}
