<div *ngIf="ctype">
  <div class="editBtns">
    <a *ngIf="!editct()" (click)="doedit()">Edit</a>
    <a *ngIf="editct()" (click)="submit()">Submit</a>
    <a *ngIf="editct()" (click)="cancel()" class="spc">Cancel</a>
  </div>
  <div class="nodevw">
    <b>{{ctype.name}}</b>
    <div *ngIf="ctype.appinfo.ComplexType.rdf">
      <i>rdf</i> = <a href="{{ctype.appinfo.ComplexType.rdf}}">{{ctype.appinfo.ComplexType.rdf}}</a>
    </div>
    <div>
      <i>xsdnode</i> = {{ctype.xsdnode}}</div>
    <div *ngIf="ctype.datatype" routerLinkActive="active">
      <i>datatype</i> =
      <a [routerLink]="['/xsd/simpletype',ctype.datatype]">{{ctype.datatype}}</a>
    </div>
    <div *ngIf="!editct()">
      <i>label</i> = {{ctype.appinfo.ComplexType.name}}</div>
    <div *ngIf="editct()">
      <i>label</i> =
      <input style="height:20px;width:555px;" [(ngModel)]="ctype.appinfo.ComplexType.name" type="text" value="{{ctype.appinfo.ComplexType.name}}"
      />
    </div>
    <div *ngIf="!editct()">
      <i>documentation</i> = {{ctype.documentation}}
    </div>
    <div *ngIf="editct()">
      <i>documentation</i> =</div>
    <div *ngIf="editct()">
      <div contenteditable=true [textContent]="ctype.documentation" (input)="ctype.documentation=$event.target.textContent" class="docedit"></div>
    </div>
    <div *ngIf="editct()">
      <b>Comments:</b>
    </div>
    <div *ngIf="editct()">
      <div contenteditable=true [textContent]="editComment" (input)="editComment=$event.target.textContent" class="docedit"></div>
    </div>
    <div *ngIf="ctype.sequence" style="margin-top:10px;">
      <b>Sequence</b>
      <div *ngFor="let c of ctsequence" class="blockindent">
        <div *ngIf="c.xsdnode==='choice'">
            <b>Choice</b>
            <div *ngFor="let e of xsdService.toArray(c)" class="blockindent">
              <b>{{e.ref}} </b>
              <span *ngIf="e.ref" routerLinkActive="active">
                <i>ref</i> =
                <a [routerLink]="['/xsd/element',e.ref]">{{e.ref}}</a>
              </span>
            </div>
        </div>
        <div *ngIf="c.ref">
          <b>{{c.ref}}</b>
          <div *ngIf="c.xsdnode">
            <i>xsdnode</i> = {{c.xsdnode}}</div>
          <div *ngIf="c.ref" routerLinkActive="active">
            <i>ref</i> =
            <a [routerLink]="['/xsd/element',c.ref]">{{c.ref}}</a>
          </div>
        </div>
        <div *ngIf="c.appinfo">
          <div *ngIf="c.appinfo.Choice">
            <b>Choice</b>
            <div *ngFor="let e of xsdService.toArray(c.appinfo.Choice)" class="blockindent">
              <b>{{e.name}} </b>
              <span *ngIf="e.name" routerLinkActive="active">
                <i>ref</i> =
                <a [routerLink]="['/xsd/element',e.name]">{{e.name}}</a>
              </span>
            </div>
          </div>
          <div *ngIf="c.minOccurs">
            <i>minOccurs</i> = {{c.minOccurs}}
          </div>
          <div *ngIf="c.maxOccurs">
            <i>maxOccurs</i> = {{c.maxOccurs}}
          </div>
          <div *ngIf="c.documentation">
            <i>documentation</i> = {{c.documentation}}
          </div>
          <div *ngIf="c.appinfo.Element">
            <div *ngIf="c.appinfo.Element.name">
              <i>label</i> = {{c.appinfo.Element.name}}
            </div>
            <div *ngIf="c.appinfo.Element.xpath">
              <i>xpath</i>={{c.appinfo.Element.xpath}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 
     <div>
      <pre style="max-height:300px; overflow-y:auto">{{ ctype | json}}</pre>
    </div>
    -->
  </div>
</div>